/**
 *  Ptotopack.Input Style
 *  http://mohsenkhahani.ir/protopack
 */

* { /* let's reset box-sizing model */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.pinput {
  position: relative;
}
.pinput button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  border: 1px outset #888888;
}
.pinput button:active {
  border: 1px inset #888888;
}
.pinput-dropdown {
  position: absolute;
  z-index: 20;
  max-height: 400px;
  overflow: auto;
  padding: 5px;
  background-color: white;
  border: 1px solid #888888;
  box-shadow: 5px 5px 5px #AAAAAA;
  -moz-box-shadow: 5px 5px 5px #AAAAAA;
}
