.pinput {
  position:relative;
  display:inline-block;
}
.pinput button {
  position: absolute;
  top: 0;
  right: 0;
  width:20px;
  border: 1px outset #888888;
}
.pinput button:active {
  border: 1px inset #888888;
}
.pinput-dropdown {
  position: absolute;
  z-index: 20;
  background-color: white;
  border: 1px solid #888888;
  overflow: auto;
  max-height: 400px;
  box-shadow: 5px 5px 5px #AAAAAA;
  -moz-box-shadow: 5px 5px 5px #AAAAAA;
  padding: 5px;
}
