/**
 *  Ptotopack.Tabs Style
 *  http://mohsenkhahani.ir/protopack
 */

ul.ptabs {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #BBB;
}
ul.ptabs:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.ptabs li.ptabs-tab {
  float: left;
}
.ptabs li.active {
  background-color: #666;
}
.ptabs li.active a {
  color: white;
  font-weight: bold;
}
.ptabs li.ptabs-tab a {
  display: block;
  padding: 5px 10px;
  margin:0 2px;
  cursor: pointer;
}
