/**
 *  Ptotopack.TreeSelect RTL Style
 *  http://mohsenkhahani.ir/protopack
 */

* { /* let's reset box-sizing model */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.ptreeselect {
  position: relative;
  direction: rtl;
  text-align: right;
}
.ptreeselect-dropdown {
  position: absolute;
  z-index: 20;
  background-color: white;
  border: 1px solid #888888;
  box-shadow: 5px 5px 5px #AAAAAA;
  -moz-box-shadow: 5px 5px 5px #AAAAAA;
  max-height: 300px;
  overflow-y: auto;
  padding: 5px;
}
