.pp-treeselect {
    display: inline-block;
    font-size: 13px;
}
.pp-treeselect input {
}
.pp-treeselect-popup {
    position: absolute;
    background-color: white;
    border: 1px solid #888888;
    overflow: auto;
    max-height: 400px;
    box-shadow: 5px 5px 5px #AAAAAA;
    -moz-box-shadow: 5px 5px 5px #AAAAAA;
    z-index: 100;
    padding: 5px;
}
.pp-treeselect-tree {
    width: 100%;
}
.pp-treeselect-tree var {
    display: none;
}
.pp-treeselect-tree ul {
    list-style: none;
    margin: 0;
    padding-left:0;
}
.pp-treeselect-tree li {
    text-align: left;
    white-space: nowrap;
}
.pp-treeselect-tree li ul {
    padding-left:20px;
}
.pp-treeselect-tree-node {
    cursor: default;
    vertical-align: middle;
}
.pp-treeselect-tree-node a {
    padding: 0 2px;
}
.pp-treeselect-tree-node.hover {
    background-color: #ddd;
}
.pp-treeselect-tree-node.selected {
    background-color: grey;
}
.pp-treeselect-tree-node.selected a {
    color: white;
}

.pp-treeselect-tree li div {display:inline-block;}
.pp-treeselect-tree span {display:inline-block; width:16px; height:20px; vertical-align:middle;}
.pp-treeselect-tree span.plus {background:url(plus.png) 0 50% no-repeat;}
.pp-treeselect-tree span.minus {background:url(minus.png) 0 50% no-repeat;}

