/**
 *  Tree Tango style
 *  http://mohsenkhahani.ir/protopack
 */

.ptree-tango ul {list-style:none; margin:0; padding-left:20px;}
.ptree-tango > ul {padding:0;}
.ptree-tango span {display:inline-block; width:16px; height:20px; vertical-align:middle;}
.ptree-tango span.close {background:url(close.png) 0 50% no-repeat;}
.ptree-tango span.open {background:url(open.png) 0 50% no-repeat;}
.ptree-tango .caption {font-weight:bold; padding-bottom:2px;}
.ptree-tango .node {display:inline-block; padding:0 2px;}
.ptree-tango .node {margin-left:3px; cursor:pointer;}
.ptree-tango .node a {padding:1px 2px;}
.ptree-tango .node.hover {color:blue;}
.ptree-tango .node.selected {background-color:#d86060;}
.ptree-tango .node.selected a {color:white;}
