ul.protopack-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #BBB;
}
ul.protopack-tabs:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.protopack-tabs li {
  float: left;
}
.protopack-tabs li.active {
  background-color: #666;
}
.protopack-tabs li.active a {
  color: white;
  font-weight: bold;
}
.protopack-tabs a {
  display: block;
  padding: 5px 10px;
  margin:0 2px;
  cursor: pointer;
}
