.tree {width:300px; border:1px inset #888; padding:10px;}
.tree var {display:none;}
.tree ul {list-style:none; margin:0; padding-left:20px;}
.tree li {border-left:1px solid #eee;}
.tree li div {}
.tree-node {}
.tree-root {font-weight:bold;}
.tree-node-hover {background-color:#eeeeee;}