.ptree var {display:none;}
.ptree ul {list-style:none; margin:0; padding-left:20px;}
.ptree li div {display:inline-block;}
.ptree-caption {font-weight:bold; padding-bottom:2px;}
.ptree-node {cursor:pointer; margin-left:3px; vertical-align:middle;}
.ptree-node a {padding:1px 2px;}
.ptree-node.hover {color:blue;}
.ptree-node.selected {background-color:darkblue;}
.ptree-node.selected a {color:white;}

.ptree-image {width:16px; height:16px; background-image:url(spacer.png);}
.ptree span {display:inline-block; width:16px; height:20px; vertical-align:middle;}
.ptree span.plus {background:url(plus.png) 0 50% no-repeat;}
.ptree span.minus {background:url(minus.png) 0 50% no-repeat;}
.ptree_ span.l {background:url(l.png) 0 50% no-repeat;}
.ptree_ span.r {background:url(r.png) 0 50% no-repeat;}

li.orphan a {color:red;}
/*
li.has-child ul {background:url(i.png) repeat-y;}
li.no-child.last ul {background:url(spacer.png) repeat-y;}
li.last span.l {background:url(l.png) 0 50% no-repeat;}
span.l {background:url(t.png) 0 50% no-repeat;}
*/