.pp-tree {border:1px solid #CCCCCC; padding:10px;}
.pp-tree var {display:none;}
.pp-tree ul {list-style:none; margin:0; padding-left:20px;}
.pp-tree li div {display:inline-block;}
.pp-tree-caption {font-weight:bold; padding-bottom:2px;}
.pp-tree-node {cursor:pointer; margin-left:3px; vertical-align:middle;}
.pp-tree-node a {padding:1px 2px;}
.pp-tree-node.hover {color:blue;}
.pp-tree-node.selected {background-color:darkblue;}
.pp-tree-node.selected a {color:white;}

.pp-tree-image {width:16px; height:16px; background-image:url(spacer.png);}
.pp-tree span {display:inline-block; width:16px; height:20px; vertical-align:middle;}
.pp-tree span.plus {background:url(plus.png) 0 50% no-repeat;}
.pp-tree span.minus {background:url(minus.png) 0 50% no-repeat;}
.pp-tree_ span.l {background:url(l.png) 0 50% no-repeat;}
.pp-tree_ span.r {background:url(r.png) 0 50% no-repeat;}

li.orphan a {color:red;}
/*
li.has-child ul {background:url(i.png) repeat-y;}
li.no-child.last ul {background:url(spacer.png) repeat-y;}
li.last span.l {background:url(l.png) 0 50% no-repeat;}
span.l {background:url(t.png) 0 50% no-repeat;}
*/